doctype html
html 
   head 
        title PK Dance Academy 
        block scripts 
        block style 
   body 
    nav#navbar
        //- |nav#navbar.top.firstclass.secondclass       *Adding multiple classes
        ul
           div#logo 
                 img(src="../static/dance-club-logo.jpg")
           li #[a(href="/") Home]
           li #[a(href="/contact") Contact Us] 
    block content
    footer#footer 
            |Copyright ©2021 PK💙 Dance Academy,All Rights Are Reserved.      
            