extends base.pug 


block scripts 
    script(src="/static/script.js") 
block style 
         style 
              include ../static/style.css 
block content 
        section#introsection 
          h2 Welcome to PK Dance Academy
          h4 Eat Dance Sleep And Repeat.
        section#missionsection 
         h2 Our Mission 
         div.row.card 
           div.column.img 
                h3 Dance Title1
                img(src="../static/1.png")
                div.card-content     
                   p This is the best dance academy of the universe.  
           div.column.img 
                h3 Dance Title2 
                img(src="../static/2.png")
                div.card-content     
                   p This is the best dance academy of the universe.  
           div.column.img 
                h3 Dance Title3 
                img(src="../static/3.png")
                div.card-content     
                   p This is the best dance academy of the universe.  
           div.column.img 
                h3 Dance Title4
                img(src="../static/4.png")
                div.card-content     
                   p This is the best dance academy of the universe.  
                    
        section#sponsorsection 
          h2 Our Sponsors
          div#sponsors
             img(src="../static/apple-logo.jpg",alt="Sponsors Image", class="spimg")
             img(src="../static/microsoft-logo.png",alt="Sponsors Image", class="spimg")
             img(src="../static/hp-logo.jpg",alt="Sponsors Image", class="spimg")
             img(src="../static/skype-logo.png",alt="Sponsors Image", class="spimg")

                   